.Settings {
    position: absolute;
    right: 24px;
    top: 24px;
    display: flex;
    padding: 8px;
    background: var(--box-color);
    border-radius: var(--radius-circle);
    flex-wrap: wrap;
    gap: 2px;
    transition: var(--transition-bg);
}

    .Settings:hover {
        background: var(--box-hover-color);
    }

    .Settings .Icon {
        font-weight: 800;
        font-size: 1.2rem;
        padding: 0;
    }

        .Settings .Icon:hover {
            background: transparent;
        }

    .Settings .Title {
        font-weight: 600;
        font-size: 1.2rem;
        letter-spacing: -.4pt;
    }