.MainActivity {
    position: relative;
    width: var(--width-activity);
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    z-index: 10;
    background: var(--bg-color);
    border-radius: var(--radius-activity) var(--radius-activity) 0 0;
}

    .MainActivity-DesktopHome {
        border-radius: calc(var(--radius-system));
        padding: 24px 24px 28px;
    }

.Map {
    position: fixed;
}

.LayoutActivity {
    display: flex;
    gap: 16px;
}