.Alert {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: var(--box-color);
    border-radius: var(--radius-system);
    flex-wrap: wrap;
}

    .Alert .Left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
    }

        .Alert .Icon {
            font-weight: 600;
            font-size: 1.3rem;
            margin-bottom: 1px;
        }

        .Alert .Title {
            font-weight: 600;
            font-size: 1.2rem;
            letter-spacing: -.2pt;
            line-height: 1.2;
        }

    .Alert .Paragraph {
        opacity: .6;
        font-weight: 500;
        font-size: 1.1rem;
        letter-spacing: -.2pt;
        line-height: 1;
    }