.Button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: var(--box-color);
    border-radius: var(--radius-system);
    flex-wrap: wrap;
    gap: 2px;
    transition: var(--transition-bg);
    cursor: pointer;
}

    .Button:hover {
        background: var(--box-hover-color);
    }

    .Button .Icon {
        font-weight: 800;
        font-size: 1.5rem;
        padding: 0;
    }

        .Button .Icon:hover {
            background: transparent;
        }

    .Button .Title {
        font-weight: 600;
        font-size: 1.4rem;
        letter-spacing: -.4pt;
        line-height: 1;
    }