.Group-Picture {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    overflow-x: hidden;
}

.Picture {
    flex: 0 0 120px;
    height: 160px;
    background: var(--box-color);
    border-radius: var(--radius-system);
}