.Search {
    min-width: var(--width-activity);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    background: var(--bg-color);
    border-radius: var(--radius-system);
    transition: var(--transition-bg);
}

    .Search:hover {
        background: var(--box-hover-color);
    }

    .Search .Left {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .Search .Icon {
            font-weight: 600;
            font-size: 2.2rem;
            border-radius: var(--radius-circle);
        }

        .Search input {
            border: 0;
            width: 100%;
            height: calc(2.2rem + 24px);
            background: transparent;
            color: var(--body-color);
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 1.8rem;
            letter-spacing: -.2pt;
            line-height: 1;
        }

            .Search input:focus {
                outline: none;
            }

        .Search input::placeholder {
            opacity: .6;
            font-weight: 500;
            font-size: 1.8rem;
            letter-spacing: -.2pt;
            line-height: 1;
        }

    .Search .Filter {
        font-weight: 500;
        font-size: 2.2rem;
        letter-spacing: -.2pt;
        line-height: 1;
        cursor: pointer;
    }

.SearchTop {
    display: flex;
    align-items: center;
    gap: 16px;
}