:root {
    --colorless-100: hsl(0, 0%, 100%);
    --colorless-95: hsl(0, 0%, 95%);
    --colorless-90: hsl(0, 0%, 90%);
    --colorless-85: hsl(0, 0%, 85%);
    --colorless-80: hsl(0, 0%, 80%);
    --colorless-70: hsl(0, 0%, 70%);
    --colorless-60: hsl(0, 0%, 60%);
    --colorless-50: hsl(0, 0%, 50%);
    --colorless-40: hsl(0, 0%, 40%);
    --colorless-30: hsl(0, 0%, 30%);
    --colorless-20: hsl(0, 0%, 20%);
    --colorless-15: hsl(0, 0%, 15%);
    --colorless-10: hsl(0, 0%, 10%);
    --colorless-5: hsl(0, 0%, 5%);
    --colorless-0: hsl(0, 0%, 0%);
    --font-sans-serif: -apple-system, "SF Pro", "SF Pro Display", "Pretendard Variable", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: "FiraCode Variable", "Pretendard Variable", monospace;
    --body-color: var(--colorless-0);
    --border-color: var(--colorless-90);
    --box-color: var(--colorless-95);
    --bg-color: var(--colorless-100);
    --radius-system: 8px;
    --radius-activity: 24px;
}

.dark {
    --body-color: var(--colorless-100);
    --border-color: var(--colorless-10);
    --box-color: var(--colorless-5);
    --bg-color: var(--colorless-0);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    word-break: keep-all;
}

html {
    background: var(--colorless-60);
    color: var(--body-color);
    font-size: 10px;
    transition: background .2s ease-out, color .2s ease-out;    
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    min-height: 100vh; 
    min-height: -webkit-fill-available;
    font-family: var(--font-sans-serif);
    width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* Base */

.System {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 12px;
}

.System-Title-Icon {
    font-size: 3rem;
}

.Gap-8 {
    display: flex;
    gap: 8px;
}

.Gap-16 {
    display: flex;
    gap: 16px;
}

hr {
    width: 100%;
    margin: 0;
    border: .5px solid var(--border-color);
}