.Back {
    position: absolute;
    top: 0;
    left: calc(var(--padding-activity) + 424px);
    background: var(--bg-color);
    padding: .8rem;
    border-radius: var(--radius-box);
    cursor: pointer;
    transition: var(--transition-bg);
}

    .Back:hover {
        background: var(--bg-hover-color);
    }

@media (max-width: 767.98px) {
    .Back {
        display: none;
    }
}