.Button {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-box);
    background: var(--box-bg-color);
    border-radius: var(--radius-box);
    gap: 4px;
    transition: var(--transition-bg);
}

    .Button:hover {
        background: var(--box-hover-color);
    }

    .Icon {
        font-family: var(--font-icon);
        font-size: 1.6rem;
        font-weight: 600;
        font-feature-settings: 'ss09' !important;
    }

    .Title {
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 1;
    }