.Card {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-box);
    background: var(--box-bg-color);
    border-radius: var(--radius-box);
}

    .Left {
        display: flex;
        align-items: center;
        gap: 12px;
    }

        .LeftIcon {
            width: 2.8rem;
            height: 2.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: 2.8rem !important;
            padding: 1.6rem;
            background: var(--box-icon-color);
            border-radius: var(--radius-box);
            font-family: var(--font-icon);
            font-weight: 600;
            font-size: 1.8rem;
        }
    
        .GroupText {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

            .GroupTitle {
                display: flex;
                flex-direction: column;
                gap: 2px;
            }

                .Title {
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 1.2;
                }
                
                .Paragraph {
                    font-size: 1.1rem;
                    font-weight: 500;
                    line-height: 1.3;
                }
        
            .Paragraph2 {
                font-size: .9rem;
                font-weight: 500;
                opacity: .8;
            }
    
    .Accent {
        width: 5.4rem;
        height: 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--radius-box);
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--colorless-100);
    }
    
    .RightIcon {
        font-family: var(--font-icon);
        font-size: 2rem;
        font-weight: 700;
        opacity: .6;
    }