.DragActivity {
    background: var(--colorless-90);
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: calc(var(--padding-activity) * 3 / 4) var(--padding-activity) 0 var(--padding-activity);
    /* 탭바 padding: calc(var(--padding-activity) * 3 / 4) var(--padding-activity) calc(var(--horizontal-tab-size) + env(safe-area-inset-bottom)) var(--padding-activity); */
    border-radius: var(--radius-activity) var(--radius-activity) 0 0;
}

    .Drag {
        width: 100%;
        padding-bottom: calc(.5rem + var(--padding-activity) * 3 / 4);
        display: flex;
        justify-content: center;
        position: sticky;
        z-index: 10;
    }

    .Back {
        display: flex;
        align-items: center;
        position: absolute;
        top: var(--padding-activity);
        left: calc(var(--padding-activity) + 424px);
    }

        .Back > a {
            background: var(--colorless-90);
            padding: .8rem;
            border-radius: var(--radius-system);
        }

    .GroupMap {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        padding-bottom: var(--padding-activity);
        overflow: scroll;
    }

        .SmallGroupMapSearch {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .GroupFilter {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
        }

        .GroupPicture {
            max-height: 260px;
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            flex-wrap: wrap;
            gap: .8rem;
        }

        .GroupActiveTitle {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .SmallGroupActiveTitle_Right {
                display: flex;
                flex-direction: row;
                gap: 1.2rem;
            }

        .GroupAlert {
            display: flex;
            flex-direction: column;
            gap: .8rem;
        }


@media (min-width: 768px) {
    .DragActivity {
        top: 0;
        left: 0;
        /* 사이드바 left: var(--vertical-tab-size); */
        max-height: 100%;
        right: initial;
        width: 424px;
        padding: 0 var(--padding-activity);
        border-radius: 0;
    }

        .Drag {
            display: none;
        }
        
        .GroupMap {
            padding-top: var(--padding-activity);
        }
}
        
@media (max-width: 767.98px) {
    .Back {
        display: none;
    }
}