.Filter {
    width: max-content;
    height: min-content;
    padding: 1rem 1.2rem;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1;
    background: var(--box-bg-color);
    border-radius: var(--radius-activity);
    transition: var(--transition-bg);
    cursor: pointer;
}

    .Filter:hover {
        background: var(--box-hover-color);
    }