.Icon {
    width: 3.6rem;
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-box);
    background: var(--box-bg-color);
    cursor: pointer;
    transition: var(--transition-bg);
    box-shadow: var(--shadow-color);
    z-index: 1000;
    font-family: var(--font-icon) !important;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

    .Icon:hover {
        background: var(--box-hover-color);
    }

@media (max-width: 767.98px) {
    .Icon {
        display: none;
    }
}