.DragActivity {
    background: var(--colorless-90);
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 0 var(--padding-activity) calc(var(--horizontal-tab-size) + var(--padding-activity) + env(safe-area-inset-bottom)) var(--padding-activity);
    border-radius: var(--radius-activity) var(--radius-activity) 0 0;
    overflow: scroll;
}

    .Drag {
        background: var(--colorless-90);
        width: 100%;
        margin-left: calc(-1 * var(--padding-activity));
        height: calc(var(--padding-activity) + 1rem);
        border-radius: var(--radius-activity) var(--radius-activity) 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
    }

    .GroupMap {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-top: calc(var(--padding-activity) + 1rem);
    }

        .SmallGroupMapSearch {
            display: flex;
           flex-direction: column;
            gap: 16px;
        }

@media (min-width: 768px) {
    .DragActivity {
        top: 0;
        left: var(--vertical-tab-size);
        right: initial;
        bottom: initial;
        width: 424px;
        height: 100%;
        padding: var(--padding-activity);
        border-radius: 0;
    }

    .Drag {
        display: none;
    }
}