.Picture {
    max-width: auto;
    max-height: 260px;
    background: var(--box-color);
    border-radius: var(--radius-system);
    cursor: pointer;
    object-fit: cover;
    object-position: bottom;
}