.Sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Sort select {
    border: 0;
    width: 100%;
    background: var(--box-bg-color);
    color: var(--body-color);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1;
    letter-spacing: -.2pt;
    border-radius: var(--radius-box);
    padding: var(--padding-box);
    appearance: none;
    -webkit-appearance: none;
}

    
    .Sort select::-ms-expand {
        display : none ;
    }

    .Sort select:focus {
        outline: none;
    }

    .Arrow {
        position: absolute;
        margin-right: var(--padding-box);
        pointer-events: none;
        border-style: solid;
        border-width: .8rem .5rem 0 .5rem;
        border-radius: .2rem;
        border-color: var(--box-icon-color) transparent transparent transparent;
        z-index: 1000;
    }