.SurveyPicture {
    position: relative;
    left: calc(-1 * var(--padding-activity));
    top: calc(-1 * var(--padding-activity));
    right: var(--padding-activity);
    width: calc(100% + var(--padding-activity) * 2);
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background: var(--box-color);
    padding: var(--padding-activity);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    gap: .8rem;
    color: white;
}

.Paragraph {
    font-weight: 600;
    font-size: 1.6rem;
}

@media (min-width: 1280px) {
    .SurveyPicture {
        border-radius: var(--radius-system) var(--radius-system) 0 0;
    }
}