.SurveyPicture {
    position: relative;
    left: 0;
    top: 0;
    margin: calc(-1.5 * var(--padding-activity) - .5px) 0 0 calc(-1.5 * var(--padding-activity) - .4px);
    width: calc(100% + var(--padding-activity) * 3 + 1px);
    height: 40vh;
    max-height: 320px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background: var(--box-color);
    padding: calc(var(--padding-activity) * 1.2) calc(var(--padding-activity) * 1.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    gap: .8rem;
    color: var(--colorless-100);
    border-radius: var(--radius-activity) var(--radius-activity) 0 0;
}

.Paragraph {
    font-weight: 500;
    font-size: 1.6rem;
    opacity: .8;
    line-height: 1.4;
}

@media (max-width: 767.98px) {
    .SurveyPicture {
        left: calc(var(--padding-activity) / 2);
        border-radius: 0;
        width: calc(100vw + var(--padding-activity) / 6 - 3px);
    }
}