/* Small Mobile < 600 < General Mobile < 768 < Tablet < 1280px: Desktop */

:root {

    --radius-box: 8px;
    --padding-box: 1.6rem;
    --box-bg-color: var(--colorless-100);
    --box-icon-color: hsl(240, 6%, 79%);

    --border-color: hsl(0, 0%, 20%, 0.50);
    --border2-color: hsl(0, 0%, 20%, 0.50);


    /*
    --border-color: #0000001A;
    --Elevated-Primary: var(--white);
    --Elevated-Secondary: 
    --Elevated-Quaternary: #bcbcc3;
    --Elevated-Quinary: #acacb4;
    --Elevated-Secondary-NotTransparent: #e9e9ed;
    --Label-Secondary: #3C3C4399;
    --Tertiary: #7676801F;
    --Tertiary2: #00000017;
    --Tertiary-NotTransparent: #f8f8f8;
    --Seperated-Transparent: #FFFFFFBF;
    --body-bg: #F2F2F7;
    --body-bg-80: #F2F2F7CC;
    --body-bg-60: #F2F2F799;

    .Card {
        padding: --padding-box
        background: --box-bg-color
        border-radius: --radius-box
    }

    .Icon {
        background: --box-icon-color
        border-radius: --radius-box
        font-family: --font-icon
    }
    */

    --font-size: 9.5px;
    --font-icon: 'Musefinder', 'Min Icon VF';
    --font-monospace: 'FiraCode Variable', 'Pretendard Variable', monospace;
    --font-sans-serif: -apple-system, 'SF Pro', 'SF Pro Display', 'Pretendard Variable', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --colorless-100: hsl(0, 0%, 100%);
    --colorless-100-tp: hsl(0, 0%, 100%, 0.20);
    --colorless-95: hsl(0, 0%, 95%);
    --colorless-95-tp: hsl(0, 0%, 95%, 0.90);
    --colorless-90: hsl(0, 0%, 90%);
    --colorless-85: hsl(0, 0%, 85%);
    --colorless-80: hsl(0, 0%, 80%);
    --colorless-70: hsl(0, 0%, 70%);
    --colorless-60: hsl(0, 0%, 60%);
    --colorless-50: hsl(0, 0%, 50%);
    --colorless-40: hsl(0, 0%, 40%);
    --colorless-30: hsl(0, 0%, 30%);
    --colorless-20: hsl(0, 0%, 20%);
    --colorless-15: hsl(0, 0%, 15%);
    --colorless-10: hsl(0, 0%, 10%);
    --colorless-5-tp: hsl(0, 0%, 5%, 0.90);
    --colorless-5: hsl(0, 0%, 5%);
    --colorless-0: hsl(0, 0%, 0%);
    --colorless-0-tp: hsl(0, 0%, 0%, 0.20);

    --color-dynamic-muse: linear-gradient(135deg, hsl(270, 88%, 70%) 10%, hsl(245, 82%, 67%) 100%);
    --color-dynamic-water: linear-gradient(135deg, hsl(211, 100%, 67%) 10%, hsl(207, 100%, 51%) 100%);
    --color-dynamic-sand: linear-gradient(135deg, hsl(39, 94%, 63%) 10%, hsl(39, 84%, 51%) 100%);
    --color-dynamic-coral: linear-gradient(135deg, hsl(0, 86%, 69%) 10%, hsl(0, 86%, 61%) 100%);



    --body-color: var(--colorless-0);

    --header-bg-color: hsl(240, 24%, 96%, 0.70);

    --box-color: var(--colorless-100);
    --box-hover-color: hsl(0, 0%, 97.5%);
    --box-active-color: hsl(0, 0%, 0%, 0.07);

    --bg-color: hsl(240, 24%, 96%);
    --bg-hover-color: hsl(0, 0%, 97.5%);

    --desktop-search-hover-color: var(--colorless-95);

    --dragpill-color: var(--colorless-85);

    --item-hover-color: hsl(0, 0%, 0%, 0.05);
    --item-active-color: hsl(0, 0%, 0%, 0.07);

    --bg-color-transparent: var(--colorless-95-tp);

    --general-shadow-color: var(--colorless-0-tp);

    --radius-system: 8px;
    --radius-activity: 24px;
    --radius-circle: 128px;

    --width-general: 420px;

    --horizontal-tab-size: 64px;
    --vertical-tab-size: 72px;

    --icon-padding: 0.5rem;
    --padding-system: 16px;
    --padding-activity: 24px;

    --transition-bg: background .2s ease-out, color .2s ease-out, border .2s ease-out;
}

.dark {
    --body-color: var(--colorless-100);

    --border-color: hsl(0, 0%, 20%, 0.50);
    --border2-color: hsl(0, 0%, 20%, 0.50);

    --header-bg-color: hsl(0, 0%, 5%, 0.70);
    --highlayer-bg-color: var(--colorless-5);

    --box-color: var(--colorless-10);
    --box-hover-color: hsl(0, 0%, 100%, 0.08);
    --box-active-color: hsl(0, 0%, 100%, 0.1);

    --bg-color: var(--colorless-5);
    --bg-hover-color: var(--colorless-10);

    --desktop-search-hover-color: var(--colorless-10);

    --dragpill-color: var(--colorless-15);

    --item-hover-color: hsl(0, 0%, 100%, 0.06);
    --item-active-color: hsl(0, 0%, 100%, 0.1);

    --bg-color-transparent: var(--colorless-5-tp);

    --general-shadow-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    word-break: keep-all;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    background: var(--bg-color);
    color: var(--body-color);
    font-family: var(--font-sans-serif);
    font-size: var(--font-size);
    transition: var(--transition-bg);
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

/* Base */

.System {
    display: flex;
    width: 100%;
    height: auto;
    color: var(--body-color);
    flex-direction: column;
    gap: 24px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
}

.gap-4 {
    gap: 4px;
}

.gap-8 {
    gap: 8px;
}

.gap-12 {
    gap: 12px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

a {
    color: var(--body-color);
    text-decoration: none;
}

hr {
    width: 100%;
    margin: 0;
    border: .4px solid var(--border-color);
    border-radius: var(--radius-circle);
    transition: border .2s ease-out;
}

.Icon {
    padding: var(--icon-padding);
    border-radius: var(--radius-circle);
    transition: var(--transition-bg);
}

    .Icon:hover {
        background: var(--item-hover-color);
    }

    .Icon:active {
        background: var(--item-active-color);
    }



.SmallGroupCard {
    border-radius: var(--radius-system);
}

    .SmallGroupCard a {
        background: var(--box-color);
        transition: var(--transition-bg);
    }
    
    .SmallGroupCard a:nth-last-child(-n+1):first-child {
        border-radius: var(--radius-system);
    }

    .SmallGroupCard a:first-child {
        border-radius: var(--radius-system) var(--radius-system) 0 0;
    }

    .SmallGroupCard a:last-child {
        border-radius: 0 0 var(--radius-system) var(--radius-system);
    }

    .SmallGroupCard a:hover {
        background: var(--box-hover-color);
    }

    .SmallGroupCard a:active {
        background: var(--box-active-color);
    }

/*
@media (min-width: 1280px) {
    .System {
        width: 1120px;
        padding: 56px 0;
    }
}
*/



    .System {
        width: 100%;
        padding: var(--padding-activity) var(--padding-activity) calc(var(--horizontal-tab-size) + var(--padding-activity) + env(safe-area-inset-bottom)) var(--padding-activity);
    }

    @media (min-width: 768px) {
        .System {
            width: 100%;
            padding: var(--padding-activity) var(--padding-activity) var(--padding-activity) calc(var(--padding-activity) + var(--vertical-tab-size));
        }

        .Grid {
            
        }
    }

    @media (min-width: 1280px) {
        body {
            display: flex;
            justify-content: center;
        }

        .System {
            width: 1280px;
            float: none;
        }
    }

@media (max-width: 387.98px) {
    :root {
        --font-size: 8.5px;
    }

    .row {
        grid-template-columns: repeat(1, 1fr);
    }
}


.GroupTitle {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

    .Account-GroupTitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

.GroupContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

    .SmallGroupContent {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

.Grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(1px, 1fr));
    grid-template-rows: repeat(1, min-content);
    gap: 8px;
}

    .Span-2 {
        grid-column: auto / span 2;
    }