/* Small Mobile < 600 < General Mobile < 768 < Tablet < 1280px: Desktop */

:root {
    /* Font */
    --font-size: 10px;
    --font-icon: 'Musefinder', 'Min Icon VF';
    --font-monospace: 'FiraCode Variable', 'Pretendard Variable', monospace;
    --font-sans-serif: -apple-system, 'SF Pro', 'SF Pro Display', 'Pretendard Variable', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';


    /* Colorless */
    --colorless-100: hsl(0, 0%, 100%);
    --colorless-100-tp: hsla(0, 0%, 100%, 0.20);
    --colorless-95: hsl(0, 0%, 95%);
    --colorless-95-tp: hsla(0, 0%, 95%, 0.90);
    --colorless-90: hsl(0, 0%, 90%);
    --colorless-85: hsl(0, 0%, 85%);
    --colorless-80: hsl(0, 0%, 80%);
    --colorless-70: hsl(0, 0%, 70%);
    --colorless-60: hsl(0, 0%, 60%);
    --colorless-50: hsl(0, 0%, 50%);
    --colorless-40: hsl(0, 0%, 40%);
    --colorless-30: hsl(0, 0%, 30%);
    --colorless-20: hsl(0, 0%, 20%);
    --colorless-15: hsl(0, 0%, 15%);
    --colorless-10: hsl(0, 0%, 10%);
    --colorless-5-tp: hsla(0, 0%, 5%, 0.90);
    --colorless-5: hsl(0, 0%, 5%);
    --colorless-0: hsl(0, 0%, 0%);
    --colorless-0-tp: hsla(0, 0%, 0%, 0.20);


    /* Brand Color */
    --color-dynamic-muse: linear-gradient(135deg, hsl(270, 88%, 70%) 10%, hsl(245, 82%, 67%) 100%);
    --color-dynamic-water: linear-gradient(135deg, hsl(211, 100%, 67%) 10%, hsl(207, 100%, 51%) 100%);
    --color-dynamic-sand: linear-gradient(135deg, hsl(39, 94%, 63%) 10%, hsl(39, 84%, 51%) 100%);
    --color-dynamic-coral: linear-gradient(135deg, hsl(0, 86%, 69%) 10%, hsl(0, 86%, 61%) 100%);


    /* System Color */
    --default-bg-color: #c9c9c9;

    --body-color: var(--colorless-0); /* Body */
    --bg-color: hsl(240, 24%, 96%); /* BG */
    --bg-hover-color: hsl(240, 6%, 79%);

    --header-bg-color: hsla(240, 24%, 96%, 0.70); /* Header */

    --box-bg-color: var(--colorless-100); /* Content */
    --box-icon-color: hsl(240, 6%, 79%);
    --box-hover-color: hsl(0, 0%, 98%);
    --box-hover-sub-color: hsl(0, 0%, 94%);
    --box-active-color: hsl(0, 0%, 88%);

    --dragpill-color: var(--colorless-85); /* Pill */

    --border-color: hsla(0, 0%, 0%, 0.04); /* Border */
    --shadow-color: 0 0px 8px 1px hsla(0, 0%, 0%, 0.17); /* Shadow */


    /* Size */
    --horizontal-tab-size: 64px;
    --vertical-tab-size: 72px;
    --mode1-dragactivity-size: 384px;
    --mode2-dragactivity-size: 404px;
    --mode3-dragactivity-size: 468px;


    /* Padding */
    --padding-activity: 24px;
    --padding-box: 1.6rem;
    --padding-system: 16px;


    /* Gap */
    --default-gap: 1.6rem;


    /* Radius */
    --radius-activity: 24px;
    --radius-box: 8px;
    --radius-circle: 128px;
    --radius-system: 8px;


    /* Transition */
    --transition-bg: background .2s ease-out, color .2s ease-out, border .2s ease-out;
}

.dark {
    --default-bg-color: var(--colorless-10);
    
    --body-color: var(--colorless-100); /* Body */
    --bg-color: hsl(0, 0%, 0%); /* BG */
    --bg-hover-color: hsl(0, 0%, 5%);
    
    --header-bg-color: hsla(0, 0%, 0%, 0.70); /* Header */

    --box-bg-color: hsl(240, 3%, 11%); /* Content */
    --box-icon-color: hsl(240, 3%, 11%);
    --box-hover-color: hsl(0, 0%, 13%);
    --box-hover-sub-color: hsl(0, 0%, 16%);
    --box-active-color: hsl(0, 0%, 21%);

    --dragpill-color: var(--colorless-10); /* Pill */

    --border-color: hsla(0, 0%, 100%, 0.15); /* Border */
    --shadow-color: none; /* Shadow */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    word-break: keep-all;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    background: var(--default-bg-color);
    color: var(--body-color);
    font-family: var(--font-sans-serif) !important;
    font-size: var(--font-size);
    transition: var(--transition-bg);
    scroll-behavior: smooth;
    letter-spacing: -.2pt;
	font-variation-settings: 'rond' 3, 'edpt' 1;
    vertical-align: top;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

/* Base */

.System {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    color: var(--body-color);
    padding: var(--padding-activity);
    touch-action: none;
    gap: calc(var(--padding-activity) / 2);
    z-index: 2;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
}

.gap-4 {
    gap: 4px;
}

.gap-8 {
    gap: 8px;
}

.gap-12 {
    gap: 12px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

a {
    color: var(--body-color);
    text-decoration: none;
}

hr {
    width: 100%;
    margin: 0;
    border: .2px solid var(--border-color);
    border-radius: var(--radius-circle);
    transition: var(--transition-bg);
}

    /*
    @media (min-width: 1280px) {
        .System {
            width: 1120px;
            padding: 56px 0;
        }
    }

    @media (min-width: 768px) {

    }

    @media (min-width: 1280px) {
        body {
            display: flex;
            justify-content: center;
        }

        .System {
            width: 1280px;
            float: none;
        }
    }
    */

@media (max-width: 387.98px) {
    :root {
        --font-size: 8.5px;
    }

    .row {
        grid-template-columns: repeat(1, 1fr);
    }
}


.GroupTitle {
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

    .Account-GroupTitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

.GroupContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
    overflow-y: auto;
    overflow-x: visible;
}

    .SmallGroupContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--default-gap);
    }

.Grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(1px, 1fr));
    grid-template-rows: repeat(1, min-content);
    gap: 8px;
}

    .Span-2 {
        grid-column: auto / span 2;
    }