/* Small Mobile < 600 < General Mobile < 768 < Tablet < 1280px: Desktop */

:root {
    /* Font */
    --font-size: 9.5px;
    --font-icon: 'Musefinder', 'Min Icon VF';
    --font-monospace: 'FiraCode Variable', 'Pretendard Variable', monospace;
    --font-sans-serif: -apple-system, 'SF Pro', 'SF Pro Display', 'Pretendard Variable', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';


    /* Colorless */
    --colorless-100: hsl(0, 0%, 100%);
    --colorless-100-tp: hsla(0, 0%, 100%, 0.20);
    --colorless-95: hsl(0, 0%, 95%);
    --colorless-95-tp: hsla(0, 0%, 95%, 0.90);
    --colorless-90: hsl(0, 0%, 90%);
    --colorless-85: hsl(0, 0%, 85%);
    --colorless-80: hsl(0, 0%, 80%);
    --colorless-70: hsl(0, 0%, 70%);
    --colorless-60: hsl(0, 0%, 60%);
    --colorless-50: hsl(0, 0%, 50%);
    --colorless-40: hsl(0, 0%, 40%);
    --colorless-30: hsl(0, 0%, 30%);
    --colorless-20: hsl(0, 0%, 20%);
    --colorless-15: hsl(0, 0%, 15%);
    --colorless-10: hsl(0, 0%, 10%);
    --colorless-5-tp: hsla(0, 0%, 5%, 0.90);
    --colorless-5: hsl(0, 0%, 5%);
    --colorless-0: hsl(0, 0%, 0%);
    --colorless-0-tp: hsla(0, 0%, 0%, 0.20);


    /* Brand Color */
    --color-dynamic-muse: linear-gradient(135deg, hsl(270, 88%, 70%) 10%, hsl(245, 82%, 67%) 100%);
    --color-dynamic-water: linear-gradient(135deg, hsl(211, 100%, 67%) 10%, hsl(207, 100%, 51%) 100%);
    --color-dynamic-sand: linear-gradient(135deg, hsl(39, 94%, 63%) 10%, hsl(39, 84%, 51%) 100%);
    --color-dynamic-coral: linear-gradient(135deg, hsl(0, 86%, 69%) 10%, hsl(0, 86%, 61%) 100%);


    /* System Color */
    --body-color: var(--colorless-0); /* Body */
    --bg-color: hsl(240, 24%, 96%); /* BG */

    --header-bg-color: hsla(240, 24%, 96%, 0.70); /* Header */

    --box-bg-color: var(--colorless-100); /* Content */
    --box-icon-color: hsl(240, 6%, 79%);
    --box-hover-color: hsl(0, 0%, 97%);
    --box-active-color: hsla(0, 0%, 0%, 0.09);

    --dragpill-color: var(--colorless-85); /* Pill */

    --border-color: hsla(0, 0%, 0%, 0.1); /* Border */
    --border2-color: hsla(0, 0%, 0%, 0.05);


    /* Size */
    --horizontal-tab-size: 64px;
    --vertical-tab-size: 72px;


    /* Padding */
    --padding-activity: 24px;
    --padding-box: 1.6rem;
    --padding-system: 16px;


    /* Radius */
    --radius-activity: 24px;
    --radius-box: 8px;
    --radius-circle: 128px;
    --radius-system: 8px;


    /* Transition */
    --transition-bg: background .2s ease-out, color .2s ease-out, border .2s ease-out;
}

.dark {
    --body-color: var(--colorless-100); /* Body */
    --bg-color: hsl(0, 0%, 0%); /* BG */

    --header-bg-color: hsla(0, 0%, 0%, 0.70); /* Header */

    --box-bg-color: hsl(240, 3%, 11%); /* Content */
    --box-icon-color: hsl(240, 3%, 11%);
    --box-hover-color: hsl(0, 0%, 14%);
    --box-active-color: hsla(0, 0%, 100%, 0.239);

    --dragpill-color: var(--colorless-10); /* Pill */

    --border-color: hsla(0, 0%, 100%, 0.15); /* Border */
    --border2-color: hsla(0, 0%, 100%, 0.05);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    word-break: keep-all;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    background: var(--bg-color);
    color: var(--body-color);
    font-family: var(--font-sans-serif);
    font-size: var(--font-size);
    transition: var(--transition-bg);
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

/* Base */

.System {
    display: flex;
    width: 100%;
    height: auto;
    color: var(--body-color);
    flex-direction: column;
    gap: 24px;
    padding: var(--padding-activity) var(--padding-activity) calc(var(--horizontal-tab-size) + var(--padding-activity) + env(safe-area-inset-bottom)) var(--padding-activity);
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
}

.gap-4 {
    gap: 4px;
}

.gap-8 {
    gap: 8px;
}

.gap-12 {
    gap: 12px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

a {
    color: var(--body-color);
    text-decoration: none;
}

hr {
    width: 100%;
    margin: 0;
    border: .4px solid var(--border-color);
    border-radius: var(--radius-circle);
    transition: border .2s ease-out;
}


.SmallGroupCard {
    border-radius: var(--radius-system);
}

    .SmallGroupCard a {
        background: var(--box-bg-color);
        transition: var(--transition-bg);
    }
    
    .SmallGroupCard a:nth-last-child(-n+1):first-child {
        border-radius: var(--radius-system);
    }

    .SmallGroupCard a:first-child {
        border-radius: var(--radius-system) var(--radius-system) 0 0;
    }

    .SmallGroupCard a:last-child {
        border-radius: 0 0 var(--radius-system) var(--radius-system);
    }

    .SmallGroupCard a:hover {
        background: var(--box-hover-color);
    }

    .SmallGroupCard a:active {
        background: var(--box-active-color);
    }

    /*
    @media (min-width: 1280px) {
        .System {
            width: 1120px;
            padding: 56px 0;
        }
    }
    */

    @media (min-width: 768px) {
        .System {
            width: 100%;
            padding: var(--padding-activity) var(--padding-activity) var(--padding-activity) calc(var(--padding-activity) + var(--vertical-tab-size));
        }

        /* Grid
        .Grid {
            
        }
         */
    }

    @media (min-width: 1280px) {
        body {
            display: flex;
            justify-content: center;
        }

        .System {
            width: 1280px;
            float: none;
        }
    }

@media (max-width: 387.98px) {
    :root {
        --font-size: 8.5px;
    }

    .row {
        grid-template-columns: repeat(1, 1fr);
    }
}


.GroupTitle {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

    .Account-GroupTitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

.GroupContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

    .SmallGroupContent {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

.Grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(1px, 1fr));
    grid-template-rows: repeat(1, min-content);
    gap: 8px;
}

    .Span-2 {
        grid-column: auto / span 2;
    }